@mixin flex($direction: row, $justify: "", $align: center) {
  display: flex;
  flex-direction: $direction;
  @if $justify != "" {
    justify-content: $justify;
  }
  align-items: $align;
}

@mixin fadeAnimation {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin sparkleAnimation {
  @keyframes sparkle {
    0% {
      opacity: 0.8;
      transform: scale(0.9);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
}
