@import "../../mixins";
.custom-button {
  @include flex(row, center, center);
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-text);
  background-color: var(--color-blueviolet-200);
  padding: 11px 30px;
  border-radius: 30px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-blueviolet-100);
  }
}

.custom-button-with-icon {
  .iconWrapper {
    height: 25px;
    width: 25px;
    img {
      height: 100%;
      width: 100%;
      padding-right: 8px;
    }
  }
}
